.textContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
}

.textContainer > p {
  color: white;
  text-align: center;
  line-height: 1.8em;
  font-size: 2em;
  margin: 0;
}

.logo {
  position: relative;
  top: 18%;
}

.logo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo_btn {
  position: fixed;
  bottom: 15%;
}

.logo_btn img {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
