#banner {
  margin-top: 3%;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 23pt;
}

.formContainer {
  width: 80%;
  padding: 5% 5%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background: #f8d348;
  display: flex;
  flex-direction: column;
}

#ryan {
  width: 63%;
  border-radius: 50%;
  margin-top: 0;
  background: #fff;
  align-self: center;
  transform-style: preserve-3d;
  margin-bottom: 5%;
}

#username,
#password {
  margin-bottom: 3%;
  font-size: 20px;
  border: 0;
  border-radius: 3px;
  padding: 10px;
}

#mySignIn > button {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  font-weight: 600;
}

@keyframes lookaway-up {
  from {
    transform: rotate3d(0.2, 0, -0.01, 20deg);
  }

  to {
    transform: rotate3d(0.2, -0.05, -0.01, 20deg);
  }
}

@keyframes lookaway-down {
  0% {
    transform: rotate3d(-0.2, 0, -0.01, 20deg);
  }

  100% {
    transform: rotate3d(-0.2, -0.05, 0.01, 20deg);
  }
}

.ears {
  transform-origin: 50% 50% 5px;
}

.eyes {
  transform-origin: 50% 50% -40px;
}

.muzzle {
  transform-origin: 50% 50% -44px;
}

.ears,
.eyes,
.muzzle {
  transition: transform 0.5s;
}

.focused {
  transition: transform 0.1s;
}

.look-away .ears,
.look-away .eyes,
.look-away .muzzle {
  transition-duration: 0.3s;
  animation: 3s infinite alternate;
}

.look-away.up .ears,
.look-away.up .eyes,
.look-away.up .muzzle {
  transform: rotate3d(0.2, 0, 0, 20deg) !important;
}

.look-away.down .ears,
.look-away.down .eyes,
.look-away.down .muzzle {
  transform: rotate3d(-0.2, 0, 0, 20deg) !important;
}

.look-away.playing.up .ears,
.look-away.playing.up .eyes,
.look-away.playing.up .muzzle {
  animation-name: lookaway-up;
}

.look-away.playing.down .ears,
.look-away.playing.down .eyes,
.look-away.playing.down .muzzle {
  animation-name: lookaway-down;
}
